:root.theme-light {
  --header-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --header-decor-color: #353430;
  --accent-color-transparent: rgba(50 49 45 / 0.4);
  --accent-text-color: #353430;
  --main-text-color: #353430;
  --section-title-color: #353430;
  --footer-color: #ffc2e6;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --header-decor-color: #353430;
    --accent-color-transparent: rgba(50 49 45 / 0.4);
    --accent-text-color: #353430;
    --main-text-color: #353430;
    --section-title-color: #353430;
    --footer-color: #ffc2e6;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }

  .rec-element {
    display: none;
  }
}
